.headerWrapper {
    height: 80px;
}
.header {
    height: 80px;
    background-color: #fff;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 80px;
    z-index: 100;
    position: relative;
}
.header .container {
    height: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #dcdfe6;
}
.container, .page-container {
    width: 1140px;
    padding: 0;
    margin: 0 auto;
}
.header h1 {
    margin: 0;
    float: left;
    font-size: 32px;
    font-weight: 400;
}
.header .nav {
    float: right;
    height: 100%;
    line-height: 80px;
    background: transparent;
    padding: 0;
    margin: 0;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.header .nav-item.nav-algolia-search {
    cursor: default;
}
.header .nav-item {
    margin: 0;
    float: left;
    list-style: none;
    position: relative;
    cursor: pointer;
}


ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.header .nav-item a.active, .header .nav-item a:hover {
    opacity: 1;
}
.header .nav-item a {
    text-decoration: none;
    color: #1989fa;
    opacity: .5;
    display: block;
    padding: 0 22px;
}


.header .nav-logo-small {
    display: none;
}
.header .nav-logo-small, .header .nav-logo {
    vertical-align: sub;
}
.header h1 a {
    color: #333;
    text-decoration: none;
    display: block;
}

 
@media (max-width: 850px){
    .header .nav-logo {
        display: none;
    }
}
@media (max-width: 850px){
.header .nav-logo-small {
    display: inline-block;
}}
@media (max-width: 768px){
    .container, .page-container {
        padding: 0 20px;
    }
}
    @media (max-width: 1140px){
    .container, .page-container {
        width: 100%;
    }}
    @media (max-width: 700px){
    .header .container {
        padding: 0 12px;
    }}
    @media (max-width: 700px){
    .header .nav-item a {
        font-size: 12px;
        vertical-align: top;
    }}
    @media (max-width: 850px){
    .header .nav-item a {
        padding: 0 5px;
    }}
    
   
